.contact h1 {
    margin-left: 17%;
}

span {
    color: red;
}

.post_box {
    display: flex;
    align-items: center;
}

.contact table {
    border-spacing: 40px 0px;
}

.contact th {
    vertical-align: top;
}

.contact label {
    font-weight: bold;
}

.sur_name {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: 1px solid;
}

.first_name {
    border-radius: 5px;
    height: 30px;
    width: 145%;
    border: 1px solid;
    margin-left: 10%;
}

.example {
    margin-left: 10%;
    opacity: 0.3;
}

.text_line {
    border-radius: 5px;
    height: 30px;
    width: 200%;
    border: 1px solid;
}

textarea {
    border-radius: 5px;
    height: 100px;
    width: 200%;
}

.contact_button {
    background-color: black;
    color: white;
    font-size: 20px;
    width: 8%;
    padding: 1%;
    margin-left: 17%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}

.content h1 {
    margin-left: 10%;
}

.send_button {
    background-color: black;
    color: white;
    font-size: 17px;
    width: 8%;
    padding: 1%;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}

.fix {
    margin-left: 11.3%;
}

.inquiry {
    margin-left: 10%;
}

.thanks {
    background-color: black;
    color: white;
    font-size: 20px;
    width: 8%;
    padding: 1%;
    margin-left: 17%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}

.system_title {
    margin-left: 21%;
}

.management {
    border: solid 1px;
    width: 50%;
    height: 250px;
    position: relative;
}

.system_text {
    border-radius: 5px;
    height: 30px;
    width: 70%;
    border: 1px solid;
    margin-top: 5%;
}

.register {
    display: flexbox;
    align-items: center;
}

.search_button {
    background-color: black;
    color: white;
    font-size: 17px;
    width: 70%;
    height: 50px;
    padding: 1%;
    margin-left: 170%;
    margin-top: 10%;
    margin-bottom:20%;
    border-radius: 5px;
    border: 1px solid;
}

.management_box {
    text-align: center;
}

.pagination {
    text-align: center;
    margin-right: 10%;
}

.pagination li {
    display: inline-block;
}

.search_system {
    border-bottom: 1px solid;
    text-align: center;
    width: 50%;
}

.opinion_text {
    width: 50%;
}

.delete_button {
    background-color: black;
    color: white;
    font-size: 15px;
    width: 65px;
    height: 30px;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid;
}

.thanks_page {
    text-align: center;
    position: relative;
}
.thanks_page {
position: absolute;
top: 40%;
left: 30%;
}
.thanks_button {
    background-color: black;
    color: white;
    font-size: 17px;
    width: 60%;
    height: 55px;
    padding: 1%;
    margin-top: 10%;
    border-radius: 5px;
    border: 1px solid;
}

.reset_button {
    position: absolute;
    left: 48%;
    bottom : 2%;
    border-bottom: solid 1px;
}
