.contact h1 {
    margin-left: 17%;
}

span {
    color: red;
}

.post_box {
    display: flex;
    ;
}

.contact table {
    border-spacing: 40px 0px;
}

.contact th {
    vertical-align: top;
}

.contact label {
    font-weight: bold;
}

.sur_name {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: 1px solid;
}

.first_name {
    border-radius: 5px;
    height: 30px;
    width: 145%;
    border: 1px solid;
    margin-left: 10%;
}

.example {
    margin-left: 10%;
    opacity: 0.3;
}

.email {
    border-radius: 5px;
    height: 30px;
    width: 200%;
    border: 1px solid;
}

.post {
    border-radius: 5px;
    height: 30px;
    width: 200%;
    border: 1px solid;
}

.address {
    border-radius: 5px;
    height: 30px;
    width: 200%;
    border: 1px solid;
}

.building_name {
    border-radius: 5px;
    height: 30px;
    width: 200%;
    border: 1px solid;
}

textarea {
    border-radius: 5px;
    height: 100px;
    width: 200%;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    width: 8%;
    padding: 1%;
    margin-left: 17%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}

.content h1 {
    margin-left: 10%;
}

.send {
    background-color: black;
    color: white;
    font-size: 17px;
    width: 8%;
    padding: 1%;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}

.fix {
    margin-left: 11.3%;
}

.inquiry {
    margin-left: 10%;
    }

.thanks {
    background-color: black;
    color: white;
    font-size: 20px;
    width: 8%;
    padding: 1%;
    margin-left: 17%;
    margin-top: 2%;
    border-radius: 7px;
    border: 1px solid;
}
